/* -*- mode: fundamental -*- */

body { 
	font-family: sans-serif;
	margin-top: 3px;
	margin-left: 3px;
	margin-right: 3px;
}

span.lxr_title {
	float: left;
	vertical-align: middle;
}

span.lxr_l {
	text-transform: uppercase;
	margin-left: 5px;
	font-weight: normal;
}

span.lxr_x {
	text-transform: uppercase;
	font-weight: normal;
}

span.lxr_r {
	text-transform: uppercase;
	font-weight: normal;
	padding-right: 5px;
	border-right: solid;
	border-width: 1px;
}

span.lxr_logo {
	text-transform: uppercase;
	font-weight: normal;
	margin-left: 5px;
	padding-right: 5px;
	border-right: solid;
	border-width: 1px;
}

div.prose { 
	margin-left: 20px;
	margin-right: 20px;
	max-width: 40em;
}
span.section { 
	font-weight: bold;
	display: block;
	margin-top: 10px;
}

span.lxr_menu {
/*	float: right; */
}

div.lxr_menu {
	float: right;
}

span.lxr_search {
	font-weight: normal;
	margin-left: 5px;
	padding-left: 5px;
	margin-right: 5px;
	border-left: solid;
	border-width: 1px;
}

span.lxr_search input#search {
	width: 8em;
}

span.lxr_search button {
	border: solid 1px;
}

span.lxr_prefs {
	font-weight: normal;
	margin-left: 5px;
	padding-left: 5px;
	margin-right: 5px;
	border-left: solid;
	border-width: 1px;
}

span.lxr_version {
	font-weight: normal;
	padding-left: 5px;
/*	border-left: solid;
	border-width: 1px; */
}

body.full div.search_results {
	background: #F0F0F0;
	z-index: 3;
/*	position: absolute; */
	position: fixed;
	right: 3px;
	top: 35px;
	width: 35%;
	height: 70%;
	border: solid;
	border-width: 1px;
	display: none;
	overflow: auto;
	padding: 3px;
}

body.popup div.search_results {
	background: #F0F0F0;
	border: solid;
	border-width: 1px;
	padding: 3px;
	margin: 1px;
}

span.identtype { 
	display: block;
/*	font-weight: bold; */
	font-style: italic;
	margin-top: 10px;
	margin-left: 1em;
}

span.resultline {
	display: block;
	margin-left: 2em;
}

span.resultdetails {
	font-size: 75%;
/*	font-style: italic; */
} 

div.query_desc {
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 5px;
}

span.close-button {
	float: right;
	margin-top: 3px;
	margin-right: 3px;
}

div#file_contents {
	padding-top: 10px;
}

pre {
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

a.line {
	border: solid;
	border-width: 1px;
	border-color: #000000;
	margin-left: 0px;
	margin-right: 7px;
	padding-left: 3px;
	padding-right: 3px;
	
	background: #F0F0F0;
}

a img { 
	border: 0px;
}

div.headingtop {
}

div.headingbottom {
	clear: both;
}

div.heading {
	background: #F0F0F0;
	margin-right: 0px;
	margin-left: 0px;
	font-weight: bold;
	font-size: 120%;
	border: solid;
	border-width: 1px;
	text-align: right;
}

div.heading img {
	vertical-align: middle;
}

div.searchbox {
	background: #F0F0F0;
	border: solid;
	margin-top: 3px;
	border-width: 1px;
	margin-right: 0px;
	margin-left: 0px;
	width: 30ex;
	float: right;
}


button.print {
	border: 0;
	background: #F0F0F0;
}

table.directory td.name {
	width: 30ex;
}	

table.directory td.size {
	width: 10ex;
	text-align: right;
	padding-right: 1ex;
}	

table.directory td.time {
	width: 30ex;
}	

div.footerbox {
	left: 3px;
	right: 3px;
	bottom: 3px;
	border: solid;
	border-width: 1px;
	background: #F0F0F0;
}

div.footerfill {
	height: 3px;
}

div#content {
	background: white;
	background-image: url(../gfx/lxray-large.png);
	background-position: top right;
	background-repeat: no-repeat;
	min-height: 250px;
}

pre.pending {
	background-image: url(../gfx/loading.gif);
	background-position: top left;
	background-repeat: repeat-y;
}

span.comment {
	font-weight: bold;
	font-style: italic;
}

span.string {
	font-style: italic;
	color: green;
}

div.find {
	padding: 3px;
}

div.find div.find_input {
	width: 100%;
}

div.find div.find_code {
	width: 33%;
	float: left;
	text-align: left;
}

div.find div.find_text {
	width: 33%;
	float: left;
	text-align: center;
}

div.find div.find_file {
	width: 33%;
	float: right;
	text-align: right;
}

div.vars {
	clear: both;
	padding: 3px;
}

div.vars div.var_title {
	clear: both;
	width: 50%;
	float: left;
	text-align: left;
}

div.vars div.var_select {
	width: 50%;
	float: right;
	text-align: right;
}

div.vars div.do_update {
	clear: both;
	width: 50%;
	float: left;
	text-align: left;
}

div.vars div.do_hide {
	width: 50%;
	float: right;
	text-align: right;
}

div.progress {
	font-weight: bold;
	font-style: italic;
}

div.error {
	font-weight: bold;
	font-style: italic;
	color: #E04040;
}

form {
	display: inline;
}

div.footer { 
	margin-top: 30px;
	border-top: solid;
	border-width: 1px;
	padding-top: 10px;
	font-style: italic;
	text-align: center;
	font-size: 80%;
}

div.subfooter { 
	font-style: italic;
	text-align: center;
	font-size: 80%;
}

