<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="text/javascript">
      var use_ajax_navigation = [% IF is_ajax %]1[% ELSE %]0[% END %];
      var use_popup_navigation = [% IF is_popup %]1[% ELSE %]0[% END %];
      [% IF is_ajax %]

      var startup_tree = location.hash.match(/^#([^/+]+)([+][^/]*|)/);
      if (startup_tree) {
	var base = '[% base_url %]';
	base = base.replace(/\/ajax[+][*]/, '/' + startup_tree[1] + '+*');
  	document.write('<base href="' + base + '">');
      }
      else {
  	document.write('<base href="[% base_url %]">');
  	document.write('<meta http-equiv="Refresh" content="1;+trees">');
	use_ajax_navigation = 0;
      }
      [% END %]
    </script>
    [% IF !is_ajax %]
    <base href="[% base_url %]">
    [% END %]
    <script type="text/javascript" src="../.static/js/lxrng-funcs.js"></script>
    <link rel="stylesheet" href="../.static/css/lxrng.css" type="text/css" title="LXRng">

    [% javascript %]

    <script type="text/javascript">
    </script>

    <title>LXR [% context.tree -%]/
      [%- FOREACH elem = context.path_elements %][% elem.node %][% END %]
    </title>
  </head>

  <body class="full"
     [% IF is_ajax %]onload="load_content();"[% END %]
     [% IF is_popup %]onload="popup_prepare([% popup_serial %]);"[% END %]>

    <div class="heading">
      <div class="headingtop"></div>
	
      <span class="lxr_title">
	<span class="lxr_logo"><a href="..">LXR</a></span>
	<span id="current_path">
	  <a href="../[% context.vtree %]/">[% context.tree %]/</a>[%
	  FOREACH elem = context.path_elements
	  %]<a href="[% elem.path %]">[% elem.node %]</a>[%
	  END %]
	</span>
	<img src="../.static/gfx/rolldown.png" alt="History">
        <span id="lxr_print"
          [% IF is_ajax || node.name.match('/$') %]style="display: none;"[% END %]>
	  <form action="+print=[% node.name %]" method="post" id="print_form">
	    <button type="submit" class="print">
      	      <img src="../.static/gfx/print.png" alt="Print">
            </button>
	  </form>
        </span>
      </span>
	
      <div class="lxr_menu">
	<span class="lxr_version">
	  <a [% IF is_ajax %]href="#" onclick="return previous_version();"[% ELSE %]
	     href="../[% context.tree %]+[% ver_prev %]/[% node.name %]"[% END %]>
	    <img src="../.static/gfx/left.png" alt="&lt;&lt;"></a>
	  <form action="[% node.name %]" method="get">
	    <span id="ver_select">
	      [% INCLUDE release_select.tt2, context = context %]
	    </span>
	  </form>
	  <a [% IF is_ajax %]href="#" onclick="return next_version();"[% ELSE %]
	     href="../[% context.tree %]+[% ver_next %]/[% node.name %]"[% END %]>
	    <img src="../.static/gfx/right.png" alt="&gt;&gt;"></a>
	</span>

	<span class="lxr_search">
	  <form action="+search" method="post" onsubmit="return do_search(this);">
	    <input type="hidden" name="navtarget" value="">
	    <input type="text" name="search" id="search">
	    <button type="submit">Search</button>
	  </form>
	</span>

	<span class="lxr_prefs">
	  <a href="+prefs?return=[% node.name %]"
	     onclick="return ajax_prefs();">
	    Prefs
	  </a>
	</span>
      </div>
      <form action="ajax+*" method="post" onsubmit="return false;">
	<input type="hidden" name="ajax_lookup" id="ajax_lookup" value="">
      </form>

      <div class="headingbottom"></div>
    </div>
    
    <div id="search_results" class="search_results"
	 [% IF search_res %]style="display: block;"[% END %]>
      [% IF search_res %][% search_res %][% END %]</div>
