<a href="[% file | html %]#L[% line | html %]" [% navtarget | html %]
onclick="return load_file('[% context.tree | html %]', '[% file | html %][% context.args_url %]', '[% context.release | html %]', [% line | html %]);">
 [% file | html %], line [% line | html %]
</a>
