<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="text/javascript" src="../.static/js/lxrng-funcs.js"></script>
    <link rel="stylesheet" href="../.static/css/lxrng.css" type="text/css" title="LXRng">

    <title id="title">LXR Preferences</title>
  </head>
  <body>

    <div class="heading">
      <div class="headingtop"></div>

      <span class="lxr_title">
	<span class="lxr_l">l</span><span class="lxr_x">x</span><span class="lxr_r">r</span>
	Personal preferences for this LXRng site
      </span>

      <div class="lxr_menu">
	<span class="lxr_prefs"><a href="[% return %]">Back</a></span>
      </div>
      <div class="headingbottom"></div>
    </div>

    <p>
    <form method="post" action="+prefs">
      <div>
      <input type="hidden" name="return" value="[% return %]">
      Where do you want your search results to be displayed?
      <ol>
	<li><input type="radio" name="resultloc" value="replace"
	  [% IF is_replace %]checked[% END %]>
	Replace the active source browsing window</li>

	<li><input type="radio" name="resultloc" value="popup"
	  [% IF is_popup %]checked[% END %]>
	Show them in a popup window (requires JavaScript enabled)<br>

	<font size="-1"><em>If your browser limits the ability to
	raise/lower windows from JavaScript (Firefox: Edit ->
	Preferences -> Content -> Enable JavaScript -> Advanced ->
	Allow scripts to: Raise or lower windows), make sure you
	either close your search result windows or avoid hiding them
	behind other windows after use.</em></font></li>

	<li><input type="radio" name="resultloc" value="ajax"
	  [% IF is_ajax %]checked[% END %]>
	Show them inside the active source browsing window
	(requires JavaScript enabled)
	</li>
      </ol>
      </p>
      <p>
	(Cookies need to be enabled for LXR preferences to take effect.)
      </p>
      <button type="submit">Store preferences</button>
    </div>
    </form>

  </body>
</html>
