<select name="v" id="v" 
onchange="update_version(this, '[% context.base_url %]', '[% context.tree %]', '[% context.default_release %]', '[% context.path %]');">
  [% FOREACH v = context.all_releases %]
  <option value="[% v | html %]"
	  [% IF v == context.release %]selected="selected"[% END %]>
  [% v | html %]</option>
  [% END %]
</select>
