<select name="v" id="ver_list" 
onchange="update_version(this, '[% context.base_url %]', '[% context.tree %]', '[% context.default_release %]', '[% context.path %]');">
  [% FOREACH v = context.all_releases %]
  <option value="[% v %]"
	  [% IF v == context.release %]selected="selected"[% END %]>
  [% v %]</option>
  [% END %]
</select>
