<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <base href="[% base_url %]">
    <script type="text/javascript" src=".static/js/lxrng-funcs.js"></script>
    <link rel="stylesheet" href=".static/css/lxrng.css" type="text/css" title="LXRng">

    <title id="title">LXR Inventory</title>
  </head>
  <body>

    <div class="heading">
      <div class="headingtop"></div>

      <span class="lxr_title">
      <span class="lxr_logo">LXR</span>
      Inventory for this LXRng site
      </span>

      <div class="lxr_menu">
	<span class="lxr_prefs">
	<a href="+trees/+prefs">Prefs</a>
	</span>
      </div>
      <div class="headingbottom"></div>
    </div>

    <p>
    <ul>
      <li><a href="linux">Linux 2.6.11 -</a>
      <li><a href="linux-bk">Linux 2.5.0 - 2.6.11</a>
      <li><a href="linux-old">Linux 0.01 - 2.4.31</a>
      <li><a href="linuxbiosv2">LinuxBIOS v2</a>
    </ul>
    </p>
  </body>
</html>
[% INCLUDE footer.tt2 %]
